<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Resistance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        h1, h2 {
            text-align: center;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<h1>The Resistance</h1>
<h2>…but online!</h2>
<div class="container">
    <div class="row justify-content-center">
        <form class="col-3-md" method="get" action="{{ url_for('go_to_game') }}" style="margin: 5rem;">
            <div class="form-group">
                <label for="game_id">Game ID
                </label>
                <input type="number" name="game_id" id="game_id" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Go</button>

        </form>
    </div>
</div>

</body>
</html>