<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play The Resistance!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        {# https://stackoverflow.com/a/5110337/ #}
        div[class^="col"], div[class*=" col"] {
            text-align: center;
        }

        #board {
            border: solid;
        }

        .passed {
            background: lightskyblue;
        }

        .failed {
            background: lightpink;
        }

        .active {
            background: lightgoldenrodyellow;
        }

        .currentVoteTrack {
            outline: solid goldenrod;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<div id="gameField" class="container" style="margin-bottom: 10rem;">
    <div class="row" id="players"></div>
    <div id="alignment" class="row"></div>
    <div class="row">
        <div class="col" id="board">
            <div class="row align-items-center" style="min-height: 25rem;">
                <div class="col">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col" id="two_fails_required" style="display: none">Two fails required</div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col" id="mission0"><h3>Mission 1</h3>
                            <h2 id="missionsize0"></h2></div>
                        <div class="col" id="mission1"><h3>Mission 2</h3>
                            <h2 id="missionsize1"></h2></div>
                        <div class="col" id="mission2"><h3>Mission 3</h3>
                            <h2 id="missionsize2"></h2></div>
                        <div class="col" id="mission3"><h3>Mission 4</h3>
                            <h2 id="missionsize3"></h2></div>
                        <div class="col" id="mission4"><h3>Mission 5</h3>
                            <h2 id="missionsize4"></h2></div>
                    </div>
                    <div class="row">
                        <div class="col" id="results0"></div>
                        <div class="col" id="results1"></div>
                        <div class="col" id="results2"></div>
                        <div class="col" id="results3"></div>
                        <div class="col" id="results4"></div>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-8" style="text-align: left">
                    <h5>Vote Track</h5>
                    <div class="row">
                        <div class="col" id="votetrack0">1</div>
                        <div class="col" id="votetrack1">2</div>
                        <div class="col" id="votetrack2">3</div>
                        <div class="col" id="votetrack3">4</div>
                        <div class="col" id="votetrack4" style="background: lightcoral">5</div>
                    </div>
                </div>
                <div class="col-4" id="player_makeup" style="display: none;">
                    <span id="num_players"></span> Players &bull; <span id="num_spies"></span> Spies
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-end" style="min-height: 5rem;">
        <div id="currentStatus" class="col" style="text-align: left;">Waiting for game to start…
            <button onclick="start_game()" id="startGameButton">Start Game</button>
        </div>
    </div>
</div>
<script>
    const user = "{{ user }}";
    let players = [];
    let missionSize = -1;

    const socket = new WebSocket('{{url_for("ws", game_id=game_id) }}');

    const HANDLERS = {
        "game_start": game_start,
        "round_start": round_start,
        "mission_nominated": mission_nominated,
        "nomination_vote_results": nomination_vote_results,
        "mission_start": mission_start,
        "mission_result": mission_result,
        "game_over": game_over,
        "nomination_start": nomination_start,
    };

    function game_start(update) {
        const startButton = document.getElementById("startGameButton");
        startButton.parentElement.removeChild(startButton);

        document.getElementById("num_players").innerText = update.num_players;
        document.getElementById("num_spies").innerText = update.num_spies;
        document.getElementById("player_makeup").style.display = "block";

        for (let i = 0; i < 5; i++) {
            document.getElementById(missionsize_id(i)).innerText = update.agents_per_round[i];
        }

        if (update.num_players >= 7) {
            document.getElementById("two_fails_required").style.display = "block";
        }

        players = update.players;

        const playersDiv = document.getElementById("players");
        players.forEach(player => {
            const col = document.createElement("div");
            col.classList.add("col");
            col.classList.add("namePlate");
            col.id = nameplate_id(player);

            const nameSpan = document.createElement("span");
            nameSpan.innerText = player;
            col.appendChild(nameSpan);

            col.appendChild(token_image("/static/img/leader.png", ["leaderToken"]));
            col.appendChild(token_image("/static/img/gun.png", ["gunToken"]));

            playersDiv.appendChild(col);
        });

        const alignment = document.getElementById("alignment");
        if (update.is_spy) {
            alignment.appendChild(document.createTextNode("You are a\u00A0"));
            const bold = document.createElement("b");
            bold.innerText = "spy";
            bold.style.color = "deeppink";
            alignment.appendChild(bold);
            alignment.appendChild(document.createTextNode(`! The spies are ${list(update.spies)}.`));

            update.spies.forEach(spy => document.getElementById(nameplate_id(spy)).style.background = "pink");
        } else {
            alignment.appendChild(document.createTextNode("You are\u00A0"));
            const bold = document.createElement("b");
            bold.innerText = "Resistance";
            bold.style.color = "deepskyblue";
            alignment.appendChild(bold);
            alignment.appendChild(document.createTextNode("."));
        }
    }

    function round_start(update) {
        document.getElementById(mission_id(update.mission_number)).classList.add("active");
        missionSize = update.mission_size;
    }

    function nomination_start(update) {
        document.getElementById(votetrack_id(update.vote_track)).classList.add("currentVoteTrack");

        {
            const allLeaderTokens = document.getElementsByClassName("leaderToken");
            for (let i = 0; i < allLeaderTokens.length; i++) {
                allLeaderTokens[i].style.display = "none";
            }

            const leaderNameplate = document.getElementById(nameplate_id(update.mission_leader));
            leaderNameplate.getElementsByClassName("leaderToken")[0].style.display = "block";
        }

        const currentStatus = document.getElementById('currentStatus');
        currentStatus.textContent = '';
        if (user === update.mission_leader) {
            currentStatus.appendChild(
                document.createTextNode("You are the mission leader! Select your mission:")
            );

            const usersList = document.createElement("ul");
            usersList.id = "nominationList";
            players.forEach(player => {
                const row = document.createElement("li");
                const checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = player;
                checkbox.checked = player === user;
                row.appendChild(checkbox);
                row.appendChild(document.createTextNode(player));
                usersList.appendChild(row);
            });
            currentStatus.appendChild(usersList);

            const submitNomButton = document.createElement("button");
            submitNomButton.onclick = submit_nomination;
            submitNomButton.innerText = "Nominate";
            currentStatus.appendChild(submitNomButton);

            currentStatus.appendChild(document.createElement("br"));

            const nominationErrorText = document.createElement("span");
            nominationErrorText.id = "nominationErrorText";
            currentStatus.appendChild(nominationErrorText)
        } else {
            currentStatus.innerText = `${update.mission_leader} is nominating a mission.`;
        }
    }

    function mission_nominated(update) {
        const currentStatus = document.getElementById('currentStatus');
        currentStatus.textContent = '';

        Array.from(document.getElementsByClassName("gunToken")).forEach(elem => elem.style.display = "none");
        update.mission.forEach(agent => {
            const nameplate = document.getElementById(nameplate_id(agent));
            nameplate.getElementsByClassName("gunToken")[0].style.display = "block";
        });

        currentStatus.appendChild(document.createTextNode(`${update.mission_leader} has nominated the following mission:`));
        const mission = document.createElement("ol");
        update.mission.forEach(agent => {
            const li = document.createElement("li");
            li.innerText = agent;
            mission.appendChild(li);
        });
        currentStatus.appendChild(mission);

        currentStatus.appendChild(document.createTextNode("Do you approve of this mission?"));
        currentStatus.appendChild(document.createElement("br"));

        const approveButton = document.createElement("button");
        approveButton.innerText = "Approve";
        approveButton.onclick = () => nomination_vote(true);
        currentStatus.appendChild(approveButton);

        const rejectButton = document.createElement("button");
        rejectButton.innerText = "Reject";
        rejectButton.onclick = () => nomination_vote(false);
        currentStatus.appendChild(rejectButton);

        currentStatus.appendChild(document.createElement("br"));

        const voteStatus = document.createElement("span");
        voteStatus.id = "voteStatus";
        currentStatus.appendChild(voteStatus);
    }

    function nomination_vote_results(update) {
        document.getElementById(votetrack_id(update.vote_track)).classList.remove("currentVoteTrack");
    }

    function mission_start(update) {
        const currentStatus = document.getElementById('currentStatus');
        currentStatus.textContent = '';
        if (update.mission.indexOf(user) >= 0) {
            currentStatus.appendChild(document.createTextNode("You're going on a mission! What do you do?"));

            currentStatus.appendChild(document.createElement("br"));

            const pass = document.createElement("button");
            pass.innerText = "Pass";
            pass.onclick = () => mission_vote(true);
            currentStatus.appendChild(pass);

            const fail = document.createElement("button");
            fail.innerText = "Fail";
            fail.onclick = () => mission_vote(false);
            currentStatus.appendChild(fail);

            currentStatus.appendChild(document.createElement("br"));

            const missionStatus = document.createElement("span");
            missionStatus.id = "missionStatus";
            currentStatus.appendChild(missionStatus);
        } else {
            currentStatus.innerText = `A mission is occurring with ${list(update.mission)}.`
        }
    }

    function mission_result(update) {
        document.getElementById(mission_id(update.mission_number)).classList.remove("active");
        document.getElementById(mission_id(update.mission_number)).classList.add(update.mission_succeeded ? "passed" : "failed");
        {# TODO: mark the number of fails! #}

        Array.from(document.getElementsByClassName("gunToken")).forEach(gunToken =>
            gunToken.style.display = "none");
    }

    function game_over(update) {
        {# TODO: suspense of revealing results — require group consent #}
        document.getElementsByTagName("body")[0].style.background = update.resistance_won ? "deepskyblue" : "deeppink";
        const currentStatus = document.getElementById("currentStatus");

        currentStatus.innerText = update.resistance_won ?
            "The Resistance have succeeded!" : "The spies have defeated the Resistance!";
        currentStatus.innerText += ` The spies were ${list(update.spies)}.`;

        Array.from(document.getElementsByClassName("namePlate")).forEach(namePlate => {
            const name = namePlate.getElementsByTagName("span")[0].innerText.trim();
            namePlate.style.background = update.spies.indexOf(name) >= 0 ? "pink" : "skyblue";
        });

        socket.onclose = () => {
        };
        socket.close();
    }

    function start_game() {
        send({"kind": "start"});
    }

    function token_image(src, class_list = []) {
        const img = document.createElement("img");
        img.src = src;
        img.style.display = "none";
        img.style.height = "40px";
        class_list.forEach(klass => img.classList.add(klass));
        return img;
    }

    function submit_nomination() {
        const nomination = [];

        const nominationList = document.getElementById("nominationList");
        for (let i = 0; i < nominationList.children.length; i++) {
            const nomRow = nominationList.children[i];
            const checkbox = nomRow.children[0];
            if (checkbox.checked) {
                nomination.push(checkbox.name);
            }
        }

        if (nomination.length !== missionSize) {
            document.getElementById("nominationErrorText").innerText =
                `Wrong size mission! You have ${nomination.length} agents but you should have ${missionSize}.`;
        } else {
            send({'kind': 'nominate', 'nomination': nomination});
        }
    }

    function nomination_vote(vote) {
        send({'kind': 'nomination_vote', 'vote': vote});
        document.getElementById('voteStatus').innerText = `You have voted to ${vote ? "approve" : "reject"} the mission.`;
    }

    function mission_vote(vote) {
        send({'kind': 'mission_vote', 'vote': vote});
        document.getElementById('missionStatus').innerText = `You want the mission to ${vote ? "pass" : "fail"}.`;
    }

    function send(message) {
        socket.send(JSON.stringify(message));
    }

    function list(words) {
        if (words.length === 2) {
            return `${words[0]} and ${words[1]}`;
        }
        let output = "";
        for (let i = 0; i + 1 < words.length; i++) {
            output += words[i] + ", ";
        }
        output += "and " + words[words.length - 1];
        return output;
    }

    function mission_id(mission_num) {
        return `mission${mission_num}`;
    }

    function votetrack_id(vote_track) {
        return `votetrack${vote_track}`;
    }

    function missionsize_id(mission_num) {
        return `missionsize${mission_num}`;
    }

    function nameplate_id(player) {
        return `${player}-namePlate`;
    }

    socket.onmessage = function (event) {
        const update = JSON.parse(event.data);
        const handler = HANDLERS[update.kind];
        handler(update);
    };

    socket.onclose = function (event) {
        window.setTimeout(() => location.reload(), 1000);
    };
</script>
</body>
</html>